.intro {
  background: url("../../img/main-bg.jpg") no-repeat center / cover;
}

@media (max-width: 1000px) {
  .intro {
    background: url("../../img/main-bg-tablet.png") no-repeat;
    background-position: inherit;
    background-size: contain;
  }
}

@media (max-width: 360px) {
  .intro {
    background: url("../../img/main-bg-mobile.jpg") no-repeat top / contain;
  }
}
