// Fonts

$font-roboto: 'Roboto', sans-serif;
$font-marmelad: 'Marmelad', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-rubik: 'Rubik Marker Hatch', cursive;

// Colors

$color-black: #000000;
$color-white: #ffffff;
$color-mikado: #372E11;
$color-golden-glow: #FFE182;
$color-whisper: #EDEDED;
$color-floral-white: #FFFBED;

// Viewports

$vp--768: 768px;
$vp--1366: 1366px;
